<template>
  <v-app-bar
    fixed
    app
    color="primary"
  >
    <v-app-bar-nav-icon dark @click.stop="toggleDrawer()"></v-app-bar-nav-icon>
    <v-spacer></v-spacer>
    <v-btn dark icon @click="handleFullScreen()">
      <v-icon>fullscreen</v-icon>
    </v-btn>
  </v-app-bar>
</template>
<script>
  import Util from '@/util';
  import menu from '@/api/menu';

  export default {
    name: 'app-toolbar',
    components: {
      
    },
    data: () => ({
      
    }),
    computed: {
      toolbarColor() {
        return this.$vuetify.options.extra.mainNav;
      }
    },
    methods: {
      toggleDrawer() {
        this.$store.commit('app/toggleDrawer')
      },
      handleFullScreen() {
        Util.toggleFullScreen();
      }
    }
  };
</script>
