  <template>
  <v-layout row class="align-center layout px-4 pt-4 app--page-header">
    <div class="page-header-left">
      <h3 class="pr-3">{{title}}</h3>
    </div>


    </v-breadcrumbs>
    <v-spacer></v-spacer>
  </v-layout>  
</template>

<script>
import menu from '@/api/menu';
export default {
  data () {
    return {
      title: ''
    };
  },
  computed: { 
  },
  mounted () {
    menu.forEach(item => {
      if (item.items) {
        let child =  item.items.find(i => {
          return i.href === this.$route.path;
        });
        if (child) {
          this.title = child.title;
        }
      } else {
        if (item.href === this.$route.path) {
          this.title = item.title;
        }
      }
    })
  }
}
</script>
