<template>
  <div id="appRoot">
    <template>
      <v-app id="inspire" class="app">

        <app-drawer class="app--drawer"></app-drawer>
        <app-toolbar class="app--toolbar"></app-toolbar>
        <v-content>
          <!-- Page Header -->
          <page-header></page-header>
          <div class="page-wrapper">
            <nuxt/>
          </div>
          <!-- App Footer -->
          <v-footer height="auto" class="white pa-3 app--footer">
            <span class="caption"> 
              <b> Roseguarden updater:</b>
              <a href="https://gitlab.com/roseguarden">https://gitlab.com/roseguarden</a>,
              &copy; {{ new Date().getFullYear() }}, 
              Backend: v{{backendVersion}}, 
              Frontend: v{{frontendVersion}}
            </span>

            <v-spacer></v-spacer>
            <span class="caption mr-1"> Made with love </span>
            <v-icon color="pink" small>favorite</v-icon>
          </v-footer>
        </v-content>
        <app-fab></app-fab>
      </v-app>
    </template>


    <v-snackbar
      :timeout="3000"
      bottom
      center
      :color="snackbar.color"
      v-model="snackbar.show"
    >
      {{ snackbar.text }}
      <v-btn dark text @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
  import AppDrawer from '@/components/AppDrawer'
  import AppToolbar from '@/components/AppToolbar'
  import AppFab from '@/components/AppFab'
  import PageHeader from '@/components/PageHeader'
  import ThemeSettings from '@/components/ThemeSettings'
  import { mapState } from 'vuex';

  export default {
    components: {
      AppDrawer,
      AppToolbar,
      AppFab,
      PageHeader,
      ThemeSettings
    },
    data: () => ({
      expanded: true,
      rightDrawer: false,
      snackbar: {
        show: false,
        text: '',
        color: 'error',
      }
    }),
    computed: {
      ...mapState('app', ['backendVersion', 'frontendVersion']),
    },
    watch: {
    },
    methods: {
      openThemeSettings() {
        this.$vuetify.goTo(0)
        this.rightDrawer = (!this.rightDrawer)
      }
    },
    mounted () {
      this.$store.dispatch('menu/setMenu');
      this.$store.dispatch('app/getBackendVersion');
    }
  }
</script>

<style lang="stylus" scoped>
  .setting-fab
    top: 50% !important;
    right: 0;
    border-radius: 0

  .page-wrapper
    min-height: calc(100vh - 64px - 50px - 81px);
    margin-bottom 50px;

  .app--footer
    position absolute;
    bottom 0;
    width 100%;

  >>> .primary 
    background-color: #1976D2 !important;

  >>> .secondary
    background-color: #424242 !important;

  >>> .accent 
    background-color: #82B1FF !important;

  >>> .error 
    background-color: #FF5252 !important;

  >>> .info 
    background-color: #2196F3 !important;

  >>> .success 
    background-color: #4CAF50 !important;

  >>> .warning 
    background-color: #FFC107 !important;

  >>> .error--text
    color: #ff5252 !important;
    caret-color: #ff5252 !important;

</style>
