<template>
  <div id="appRoot">
    <nuxt />
    <v-snackbar
      :timeout="4000"
      bottom
      center
      :color="snackbar.color"
      v-model="snackbar.show"
    >
      {{ snackbar.text }}
      <v-btn dark text @click.native="snackbar.show = false" icon>
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>    
  </div>
</template>

<script>

  import { mapState } from 'vuex';

  export default {
    data: () => ({
      expanded: true,
      rightDrawer: false,
      snackbar: {
        show: false,
        text: '',
        color: 'error',
      }
    }),
    computed: {
    },
    watch: {
    },
    mounted () {
      this.$store.dispatch('actions/startRunner')
      .then(response => {
          let menuAction = [actionBuilder.newProvideMenuAction()];
      })
    }

  }
</script>


<style lang="stylus" scoped>

  >>> .primary 
    background-color: #1976D2 !important;

  >>> .secondary
    background-color: #424242 !important;

  >>> .accent 
    background-color: #82B1FF !important;

  >>> .error 
    background-color: #FF5252 !important;

  >>> .info 
    background-color: #2196F3 !important;

  >>> .success 
    background-color: #4CAF50 !important;

  >>> .warning 
    background-color: #FFC107 !important;

  >>> .error--text
    color: #ff5252 !important;
    caret-color: #ff5252 !important;

</style>