<template>
  <v-container fluid>
    <v-card lg12 sm12 xs12>
      <v-card-title>
        <h3>
          Log
        </h3>
      </v-card-title>

      <v-flex lg12 sm12 xs12>      
        <v-card :height="600" class="zindex-repair">
            <codemirror  ref="cm" v-model="log" :options="cmOptions"  class="zindex-repair" @input="logChanged"></codemirror>
        </v-card>
      </v-flex>
    </v-card>
    <v-flex lg12 sm12 xs12>      
        <v-alert type="warning" v-if="showInfo">
            {{info}}
        </v-alert>
    </v-flex>    
  </v-container>
</template>

<script>

  import Vue from 'vue';
  import { codemirror } from 'vue-codemirror';
  import { mapState } from 'vuex';

// require styles
  import 'codemirror/lib/codemirror.css';
  import 'codemirror/theme/material.css';
  import CodeMirror from "codemirror";

  import axios from 'axios';
  import VueAxios from 'vue-axios';

  Vue.use(VueAxios, axios);

  CodeMirror.defineMode("log", () => {
    return {
      token(stream, _state) {
        var regexDate = /[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1]) (2[0-3]|[01][0-9]):[0-5][0-9]:[0-5][0-9]/gi
        if (
          stream.match("[INFO]")
        ) {
          stream.next();
          return "property";
        } else if (stream.match("[WARN]")) {
          stream.next();
          return "builtin";    
        } else if (stream.match("[FAIL]")) {
          stream.next();
          return "atom";    
        } else if (stream.match(regexDate)) {
          return "variable";
        } else {
          stream.next();
          return null;
        }
      }
    };
  });


 
  export default {
    layout: "dashboard",
    components: {
      codemirror
    },
    data: () => ({
      showInfo: false,
      info: "The updater finished. Please reload the site.",
      route: 'abc',
      selectedTab: 'tab-1',
      log: 'Loading log ...',
      pendingLog: '',
      cmOptions: {
        // codemirror options
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'material',
        height: "600",
        readOnly: true,
        lineNumbers: true,
        line: true,
        mode: "log"       
      }
    }),
    methods: {
      pollLog (now) {
        let timeout = 2500;
        if(now == true) {
          timeout = 0;
        }
        let setTimeoutObject = setTimeout(() => {
          axios
            .get("/api/v1/log", { responseType: "text" })
            .then(r => r.data)
            .then(log => {
              this.pendingLog = log;              
              axios
                .get("/api/v1/updatestatus", { responseType: "text", headers: { 'Cache-Control': 'no-cache' }})
                .then(r => r.data)
                .then(status => {
                  if(status !== "started"  && status !== "running" && status !== "succeed" && status !== "failed") {
                    this.showInfo = true; 
                  } else {
                    this.log = this.pendingLog;
                  }
                })
                .catch(function (error) {
                  this.showInfo = true; 
                }.bind(this));
            })
            .catch(function (error) {
                this.showInfo = true; 
            }.bind(this));
          this.pollLog(false);

        }, timeout);
      },
      async logChanged() {
        await new Promise(resolve => setTimeout(resolve, 50));
        this.$refs.cm.codemirror.execCommand("goDocEnd");
      }
    },    
    computed: {
      codemirror() {
        return this.$refs.cm.codemirror 
      },
    },
    created () {
    },
    mounted () {
      this.codemirror.focus();
      this.codemirror.setCursor(this.codemirror.lineCount(), 0);
      this.codemirror.setSize("auto","600px");

      
      this.pollLog(true);

   
    }

  }
</script>

<style scoped>
.zindex-repair{
    z-index:1;
}

.CodeMirror {
 /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 600px;
}
</style>
